.todo-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid grey;

    .todo-item.completed {
        background: lightblue;
        span {
            text-decoration: line-through;
        }
    }

    .todo-item {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;

        button {
            cursor: pointer;
        }

        span {
            font-weight: normal;
        }
    }

    .todo-item:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    .todo-item:hover {
        background-color: aliceblue;
    }
}